* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    color: #f2f2f2;
}

main {
    width: 1200px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #f5c518
}

/*Menu*/

.estilo-propio {
    background-color: #1a1a1a;
}


.estilo-propio a {
    color: #f5c518;
}

.estilo-propio a:hover {
    color: #8b0000;
}

.menu-despegable {
    background-color: #1a1a1a;
}

.menu-despegable a {
    color: #f5c518;
}

.menu-despegablek a:hover {
    background-color: #0d0d0d;
    color: #8b0000;
}

.estilo-hamburguesa {
    background-color: #f5c518;
    padding: 1rem;
}



/* Tamaño del logo */
.logo {
    height: 70px;
}

/*Seccion*/
section {
    margin-bottom: 50px;
    margin-top: 50px;
}

/*Distancia de algunas etiquetas*/
.distancia {
    margin-top: 20px;
}


/* Video */




.video-responsive {
    position: relative;
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin: 0 auto;
    overflow: hidden;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/*Cartas Temporadas*/
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    width: 250px;
    height: 150px;
    color: #f5c518;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 20px #f5c518;
    color: #ffffff;
}

.card.temp1 {
    background-image: url("../imagenes/banner_1.jpg");
}

.card.temp2 {
    background-image: url("../imagenes/banner_2.jpeg");
}

.card.temp3 {
    background-image: url("../imagenes/banner_3.avif");
}





/*Personajes*/

.personajes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.personaje {
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.personaje img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.personaje:hover {
    transform: scale(1.10);
    color: #ffffff;
}



/*FOTTER*/
footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: #1a1a1a;
}





/* MOBILE: hasta 480px */
@media (max-width: 480px) {

    main {
        width: 400px;
        padding: 0 10px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .video iframe {
        width: 100%;
        height: auto;
    }

    .logo {
        height: 50px;
    }
}



/* TABLET: entre 481px y 1024px */
@media (min-width: 481px) and (max-width: 1024px) {

    main {
        width: 90%;
        margin: auto;
    }

    .cards {
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
        margin-bottom: 20px;
    }

    .video iframe {
        width: 100%;
        height: auto;
    }

    .logo {
        height: 60px;
    }
}