@use "./variables_" as*;

.estilo-propio {
    background-color: $fondo_header_footer;

    a {
        color: $amarillo;

        &:hover {
            transform: scale(1.10);
            color: $rojo;
        }
    }

    .menu-despegable {
        background-color: $fondo_header_footer;
    }

    .estilo-hamburguesa {
        background-color: $amarillo;
        padding: 1rem;
    }

    .logo {
        @include tamanio(70px, 100%);
    }

}


footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: $fondo_header_footer;
}

.logo {
  animation: rotateIn 1s ease;
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-180deg) scale(0.5);
  }
  to {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}
